*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Built artifacts
bin/
gen/
out/

# Log files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Keystore files
*.jks
*.keystore

# OS files
Thumbs.db